*{
    background: rgb(219, 219, 219);
    margin: 0;
    padding: 0;
}
.nav-container{
    background-color: rgb(126, 82, 167);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    align-items: center;
}
.nav-logo{
    display: flex;
    margin-left:left;
    margin-right: auto;
    justify-content: flex-start;
    padding-left: 15px;
    padding-top:5px;
    color: rgb(236, 236, 236);
    background-color: rgb(126, 82, 167);
    font-size: 23px;
    font-weight: bold;
}
.nav-content{
    display: flex;
    justify-content: flex-end;
    gap: 15px ;
    background-color: rgb(126, 82, 167);
    margin-right: 15px;
}
.nav-items{ 
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}
.nav-items a{
    text-decoration: none;
    color: rgb(236, 236, 236);
    font-size: 20px;
    background-color: rgb(126, 82, 167);
}

.hero-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    border: 2px dotted;
    margin-top: 90px;
    margin:50px auto;
    width: auto;
    height: auto;
}
.hero-container p{
    font-size: larger;
}
/* .hero-text{
    width: ;
} */

.pic-me{
    width: 350px;
    height: 400px;
}
.set-padding{
    padding: 20px;
}
.set-font-style{
    font-family: 'Times New Roman', Times, serif;
    min-width: 60px;
    font-size: 50px;
}

/* .set-border-radius{
    border-radius: 20px;
} */

.btn-getintouch{
    width: 150px;
    margin: 30px auto ;
    float: left; 
    padding: 10px;
    border-radius: 12px;
    background-color:  rgb(126, 82, 167);
    color: rgb(250, 250, 250);
    border: none;
    margin-top: 40px;
    position: relative;
}